In [3]:
#Theory : 
#Description about splitting of data mportance and purpose of splitting Training Data, Validation Data, Testing Data Parameter : 
#1.Test Size
#2.Train size
#3.Random State
#4.train_test_split() Function

#PROGRAM 1 : 
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv('russia_losses_equipment.csv')
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.05, random_state=0)

In [4]:
print("X_train:")

X_train:

In [5]:
print(X_train.head())  # Print the first few rows of the training features

           date  day  aircraft  helicopter  tank   APC  field artillery  MRL  \
390  2023-09-12  566       315         316  4568  8778             5872  764
691  2022-11-15  265       278         261  2861  5773             1850  393
500  2023-05-25  456       309         296  3795  7432             3359  570
418  2023-08-15  538       315         314  4313  8370             5128  714
653  2022-12-23  303       283         267  3005  5986             1984  414

     military auto  fuel tank  drone  naval ship  anti-aircraft warfare  \
390            NaN        NaN   4645          19                    515
691            NaN        NaN   1511          16                    208
500            NaN        NaN   2907          18                    327
418            NaN        NaN   4242          18                    482
653            NaN        NaN   1698          16                    212

     special equipment  mobile SRBM system greatest losses direction  \
390              881.0                 NaN                       NaN
691              160.0                 NaN                       NaN
500              444.0                 NaN                       NaN
418              769.0                 NaN                       NaN
653              178.0                 NaN                       NaN

     vehicles and fuel tanks  cruise missiles
390                   8413.0           1455.0
691                   4351.0            399.0
500                   6148.0           1015.0
418                   7584.0           1387.0
653                   4622.0            653.0

In [6]:
print("\nX_test:")
print(X_test.head())  # Print the first few rows of the testing features

X_test:
           date  day  aircraft  helicopter  tank    APC  field artillery  \
877  2022-05-13   79       200         162  1205   2900              542
901  2022-04-19   55       169         150   802   2063              386
14   2024-09-22  942       369         328  8768  17222            18333
703  2022-11-03  253       277         258  2734   5552             1755
55   2024-08-12  901       366         328  8450  16368            16728

      MRL  military auto  fuel tank  drone  naval ship  anti-aircraft warfare  \
877   193            NaN        NaN    405          13                     88
901   132         1495.0       76.0    158           8                     67
14   1195            NaN        NaN  15628          28                    949
703   390            NaN        NaN   1442          16                    198
55   1146            NaN        NaN  13472          28                    919

     special equipment  mobile SRBM system greatest losses direction  \
877               41.0                 NaN                 Kurakhove
901               27.0                 4.0                       NaN
14              3144.0                 NaN                       NaN
703              155.0                 NaN                       NaN
55              2801.0                 NaN                       NaN

     vehicles and fuel tanks  cruise missiles
877                   2042.0             95.0
901                      NaN              NaN
14                   25023.0           2595.0
703                   4162.0            397.0
55                   22590.0           2426.0

In [7]:
print("\ny_train:")
print(y_train.head())  # Print the first few rows of the training target values

y_train:
390   NaN
691   NaN
500   NaN
418   NaN
653   NaN
Name: submarines, dtype: float64

In [8]:
print("\ny_test:")
print(y_test.head())  # Print the first few rows of the testing target values

y_test:
877    NaN
901    NaN
14     1.0
703    NaN
55     1.0
Name: submarines, dtype: float64

In [ ]:
#PROGRAM 2 : Consider Array input :

In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Define arrays for X and y
X = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9],
              [10, 11, 12],
              [13, 14, 15],
              [16, 17, 18],
              [19, 20, 21],
              [22, 23, 24],
              [25, 26, 27],
              [28, 29, 30]])

y = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [12]:
# Convert to pandas DataFrame for consistency
df = pd.DataFrame(X, columns=['Feature1', 'Feature2', 'Feature3'])
df['Target'] = y

In [13]:
# Separate features and target variable
X = df.iloc[:, :-1]  # Features
y = df.iloc[:, -1]   # Target variable

In [14]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=0)  # Changed test_size to 30% for demonstration

In [15]:
# Print the training and testing sets
print("X_train:")
print(X_train)

X_train:
   Feature1  Feature2  Feature3
9        28        29        30
1         4         5         6
6        19        20        21
7        22        23        24
3        10        11        12
0         1         2         3
5        16        17        18

In [16]:
print("\nX_test:")
print(X_test)

X_test:
   Feature1  Feature2  Feature3
2         7         8         9
8        25        26        27
4        13        14        15

In [17]:
print("\ny_train:")
print(y_train)

y_train:
9    10
1     2
6     7
7     8
3     4
0     1
5     6
Name: Target, dtype: int32

In [18]:
print("\ny_test:")
print(y_test)

y_test:
2    3
8    9
4    5
Name: Target, dtype: int32

In [9]:
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Load the dataset
url = "C:/Users/sumit/OneDrive/Desktop/archive/diabetes.csv"

df = read_csv(url)

# Drop any non-numeric columns and drop rows with missing values (if any)
df = df.dropna()

# Separate features and target (assuming 'Outcome' is the target variable)
X = df.iloc[:, :-1]  # All columns except the last
y = df.iloc[:, -1]   # The last column is the target variable

# Ensure all features are numeric
X = X.apply(pd.to_numeric, errors='coerce')
X = X.dropna()  # Drop rows where conversion to numeric failed

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Scale features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define model
model = KNeighborsClassifier()

# Fit model
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

# Evaluate predictions and print only accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 70.13%